* {
  box-sizing: border-box;
}

body {
  background-color: black;
  padding: 10px;
  overflow: hidden;
}

/* Styling for the calculator input form */
input[type=text] {
  position: relative;
  padding: 10px;
  text-align: right;
  font-size: 15px;
  width: 299px;
}

/* Styling for the calculator's non number buttons*/
.calcButton {
  background: rgba(255, 219, 171, 0.973);
  font-size: 15px;
  width: 50px;
  height: 50px;
  color: rgb((0, 0, 0), 0, 0);
  border-radius: 1px;
}

/* Styling for the calculator's number buttons */
.calcButtonNum {
  background: rgba(243, 243, 243, 0.973);
  font-size: 15px;
  width: 50px;
  height: 50px;
  color: rgb((0, 0, 0), 0, 0);
  border-radius: 1px;
}

.calcButtonZero {
  background: rgba(243, 243, 243, 0.973);
  font-size: 15px;
  width: 100px;
  height: 50px;
  color: rgb((0, 0, 0), 0, 0);
  border-radius: 1px;
}

.calcButtonEquals {
  background: rgba(255, 145, 0, 0.973);
  font-size: 15px;
  width: 100px;
  height: 50px;
  color: rgb((0, 0, 0), 0, 0);
  border-radius: 1px;
}

/* Styling for the calculation list text */
h4 {
  background-color: black;
  color: white;
}

/* Styling for the calculation list */
ul {
  left: 275px;
  top: -250px;
  position: relative;
  list-style-type: none;
}

