body {background-color: black;}

h4 {
  background-color: black;
  color: white;
}

ul {
  list-style-type: none;
}

input[type=text] {
  position: relative;
  right: 0px;
  top: 0px;
  padding:2px;
  border:6;
  /*
  box-shadow:0 0 15px 4px rgba(227, 12, 235, 1.0);
  */
}


input[type=submit] {

  position: relative;
  
  right: -170px;
  top: -25px;
  
  padding:2px;
  border:6;
}

